Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
STUFF/
team9/
Templates/
Videos/
.cache/
.compiz/
.config/
.dbus/
.gconf/
.gphoto/
.java/
.local/
.mozilla/
.nano/
Examples/
Release.key
terminal
.bash_history
.bash_logout
.bashrc
.dmrc
.ICEauthority
.profile
.sudo_as_admin_successful
.Xauthority
.xsession-errors
.xsession-errors.old
